image: Visual Studio 2022
environment:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
build_script:
- dotnet build --configuration Release
- dotnet test --configuration Release --no-build --no-restore
artifacts:
- path: nugets\*.nupkg