<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caseless.Fody" version="1.2.1.1" targetFramework="net40" />
  <package id="Fody" version="1.13.6.1" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="Scalpel.Fody" version="0.12.0.0" targetFramework="net45" />
  <package id="Serilog" version="0.2.8" targetFramework="net45" />
  <package id="Stamp.Fody" version="0.5.2.0" targetFramework="net45" />
</packages>