<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caseless.Fody" version="1.2.3" targetFramework="net40" />
  <package id="Fody" version="1.18.0.0" targetFramework="net40" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="Scalpel.Fody" version="0.12.3" targetFramework="net40" />
  <package id="Stamp.Fody" version="0.7.2" targetFramework="net40" />
</packages>