<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caseless.Fody" version="1.2.3" targetFramework="net45" />
  <package id="Fody" version="1.17.4.0" targetFramework="net45" />
  <package id="MetroLog" version="0.8.1.1" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="Scalpel.Fody" version="0.12.3" targetFramework="net45" />
  <package id="Stamp.Fody" version="0.7.2" targetFramework="net45" />
</packages>